@use 'variables';

@mixin mq($device) {
    @if $device == tablet {
        @media(min-width: $tablet-screen-size) {
            @content;
        }
    } @else if $device == laptop {
        @media(min-width: $laptop-screen-size) {
            @content;
        }
    } @else if $device == desktop {
        @media(min-width: $desktop-screen-size) {
            @content;
        }
    }
}

@mixin generate-columns($columns: $max-column-number, $breakpoint: null) {
    @for $i from 1 through $columns {
        // default column classes
        .col-#{$i} {
            flex: 0 0 (100% / $columns) * $i;
            max-width: (100% / $columns) * $i;
            padding-left: variables.$gutter-width / 2;
            padding-right: variables.$gutter-width / 2;
        }
    }
    // make responsive if breakpoint is triggered
    @if $breakpoint != null {
        @media (min-width: $breakpoint) {
            @for $i from 1 through $columns {
                .col-#{breakpoint}-#{$i} {
                    flex: 00 (100% / $columns) * $i;
                    max-width: (100% / $columns) * $i;
                }
            }
        }
    }
}

@mixin reset-link($color) {
    text-decoration: none;
    color: $color;
}