@use 'variables';

h1 {
    font-size: variables.$font-size-xxx-large;
    font-weight: variables.$font-weight-bold;
    margin-bottom: variables.$spacing-medium;
}

h2 {
    font-size: variables.$font-size-xx-large;
    font-weight: variables.$font-weight-bold;
    margin-bottom: variables.$spacing-medium;
}

h3 {
    font-size: variables.$font-size-x-large;
    font-weight: variables.$font-weight-bold;
    margin-bottom: variables.$spacing-medium;
}

h4 {
    font-size: variables.$font-size-large;
    font-weight: variables.$font-weight-bold;
    margin-bottom: variables.$spacing-medium;
}

h5 {
    font-size: variables.$font-size-base;
    font-weight: variables.$font-weight-bold;
    margin-bottom: variables.$spacing-medium;
}

h6 {
    font-size: variables.$font-size-small;
    font-weight: variables.$font-weight-bold;
    margin-bottom: variables.$spacing-medium;
}

p, a, div, span {
    font-size: variables.$font-size-small;
    font-weight: variables.$font-weight-normal;
    margin-bottom: variables.$spacing-small;
}