@use 'variables';

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.bg-primary {
    background-color: $primary-color;
}
.bg-secondary {
    background-color: $secondary-color;
}
.bg-info {
    background-color: $info-color;
}
.bg-danger {
    background-color: $danger-color;
}
.bg-warning {
    background-color: $warning-color;
}
.bg-light {
    background-color: $light-color;
}
.bg-dark {
    background-color: $dark-color;
}

.border-primary {
    border: 1px $primary-color solid;
}
.border-secondary {
    border: 1px $secondary-color solid;
}
.border-info {
    border: 1px $info-color solid;
}
.border-danger {
    border: 1px $danger-color solid;
}
.border-warning {
    border: 1px $warning-color solid;
}
.border-light {
    border: 1px $light-color solid;
}
.border-dark {
    border: 1px $dark-color solid;
}

.border-round {
    border-radius: $font-size-xx-large;
}

.text-primary {
    color: $primary-color;
}
.text-secondary {
    color: $secondary-color;
}
.text-info {
    color: $info-color;
}
.text-danger {
    color: $danger-color;
}
.text-warning {
    color: $warning-color;
}
.text-light {
    color: $light-color;
}
.text-dark {
    color: $dark-color;
}

.text-bold {
    font-weight: $font-weight-bold;
}

.text-sm {
    font-size: $font-size-small;
}
.text-md {
    font-size: $font-size-base;
}
.text-lg {
    font-size: $font-size-large;
}

.sm-width {
    width: $width-sm;
}
.md-width {
    width: $width-md;
}
.lg-width {
    width: $width-lg;
}
.full-width {
    width: $width-full;
}

.bg-opacity-50-primary {
    background-color: color-opacity($primary-color, 0.5);
}